[submodule "vix-ai-cli"]
	path = vix-ai-cli
	url = https://github.com/vixcpp/vix-ai-cli.git
	branch = dev
[submodule "vix-ai-core"]
	path = vix-ai-core
	url = https://github.com/vixcpp/vix-ai-core.git
	branch = dev
[submodule "vix-ai-distributed"]
	path = vix-ai-distributed
	url = https://github.com/vixcpp/vix-ai-distributed.git
	branch = dev
[submodule "vix-ai-nlp"]
	path = vix-ai-nlp
	url = https://github.com/vixcpp/vix-ai-nlp.git
	branch = dev
[submodule "vix-ai-nn"]
	path = vix-ai-nn
	url = https://github.com/vixcpp/vix-ai-nn.git
	branch = dev
[submodule "vix-ai-vision"]
	path = vix-ai-vision
	url = https://github.com/vixcpp/vix-ai-vision.git
	branch = dev
[submodule "vix-ai-ml"]
	path = vix-ai-ml
	url = git@github.com:vixcpp/vix-ai-ml.git
	branch = dev
